:root{
    --color-grey-400: rgba(79, 79, 79, 1);
    --color-grey-200: rgba(130, 130, 130, 1);
    --color-purple-400: rgba(57, 44, 114, 1);
    --color-purple-200: rgba(158, 140, 252, 1);
    --color-purple-100: rgba(158, 140, 252, 0.7);
    --color-white: rgba(255, 255, 255, 1);
}