.navigation{
    position: relative;
    &--mobile{
        position: absolute;
        width: 100vw;
        top: 150px;
        display: flex;
        background-color: rgba(204, 225, 215, 1);
        padding: 10px 16px;
        
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 15px;
        list-style: none;

        @media(min-width: 320px) and (max-width: 480px) {   
            flex-direction: column;
        
        }  
    }

    a{
        all: unset;
        cursor: pointer;
    }

}