:root {
    --input-text-color: rgba(99, 108, 141, 1);
    --input-border-color: rgba(152, 169, 195, 1);
    --input-border-focus-color: rgba(79, 45, 208, 1);
    --input-checkbox-color: rgba(79, 45, 208, 1);
}