@use '../variables/variable' as *;

.input{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--input-text-color);

    &__hide{
        display: none;
    }

    &__item{
        width: 100%;
        padding: 13px 14px;
        border-radius: 8px;
        border: 1px solid var(--input-border-color);
        outline: none;
        color: var(--input-text-color);

        &:focus{
            border: 1px solid var(--input-border-focus-color);
            --icon-close-opacity: 1;
        }

       &:focus + .input__label{
            font-size: 12px;
            background-color: #ffff;
            top: -5px;
            color: var(--input-border-focus-color);
        }

        &:focus ~ .input__icon-close{
            opacity: 1;
        }

        &--download{
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__label{
        position: absolute;
        top: 13px;
        left: 14px;
        line-height: 1;
        color: var(--input-text-color);
        pointer-events: none;
        transition: top 0.5s, font-size 0.5s;
        padding: 0 3px;
    }

    &__icon-close{
        opacity: 0;
        position: absolute;
        right: 13px;
        top: 13px;
        cursor: pointer;
    }

    &__checkbox-item{
        flex-shrink: 0;
        width: 17px;
        height: 17px;
        border: 1px solid var(--input-checkbox-color);
        border-radius: 5px;
        img{
            display: none;
        }
    }

    &__checkbox-wrapp{
        display: flex;
        gap: 10px;
    }

    &__checkbox{
        display: none;
        &:checked + .input__checkbox-item img{
            display: block;
        }
    }
    
}